.alltasks-main{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 4rem
}

.addtask input, .addtask button{
    border: 0;
    outline: none;
    background-color: transparent;
    padding: 5px;
    height: 100%;
}

.addtask{
    border: 1px solid black;
    border-radius: 7px;
}

.addtask button{
    border-left: 1px solid black;
    background-color: #3f51b5;
    height: 100%;
    color: white;
    border-radius: 0px 6px 6px 0px;
    margin-left: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
}

@media screen and (max-width : 425px) {
    .search{
        width: 50%;
        display: flex;
        justify-content: space-around;
        margin-left: 30px;
    }
}

